<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

        RewriteEngine On
        # remove www
        RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
        RewriteRule ^ http://%1%{REQUEST_URI} [NE,R=301,L]

        RewriteCond %{HTTP_HOST} ^(www\.)?http://ec2-54-218-16-130.us-west-2.compute.amazonaws.com\.com$
        RewriteRule !^projectname/laravel_blog/ /laravel_blog/public%{REQUEST_URI}  [L]

</IfModule>


